<h2>Update: <%= @list.name %></h2><br>

<form method="POST" action="/lists/<%= @list.id %>">
<input type="hidden" id="hidden" name="_method" value="PATCH">

    <div class="container-form">
    <img src="<%= @list.image %>" alt="Bucket List image"><br>
    <strong><label for="update_image">Update Image:</label></strong>
        <input type="text" id="update_image" name="image" value="<%= @list.image %>">
    <br><br>

    <strong><label for="update_list_name">Update Name</label></strong><span class="req">*</span>:<br>
        <%= @list.name %> <input type="text" id="update_list_name" name="name" value="<%= @list.name %>">
    <br><br>

    <strong><label for="update_list_description">Update Description:</label></strong><br>
        <textarea id="update_list_description" name="description"><%= @list.description %></textarea>
    <br><br>

    <strong><label for="update_list_to_do">Update List:</label></strong>
    <ol>
        <% @list.to_do.split(",").each do |value| %>
            <li><%= value %></li>
        <% end %>
    </ol>
        <textarea type="text" id="update_list_to_do" name="to_do"><%= @list.to_do %></textarea>
    <br><br>

    <input type="submit" value="Update List">

    </div>
</form>

<br>
<span class="req">*</span>Required field